.authLayout {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  height: 600px;
  display: flex;
  padding: 10px;
}
@media (max-width: 1120px) {
  .authLayout {
    width: 90%;
  }
}

.authLayout__left {
  width: 50%;
  padding: 30px;
}
.authLayout__right {
  width: 50%;
}

@media (max-width: 800px) {
  .authLayout {
    width: 95%;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .authLayout__left {
    width: 90%;
    padding: 30px;
  }
  .authLayout__right {
    width: 100%;
  }
}
