.auth {
  background: #f9f9fb;
}
.auth__logo {
  background: #fff;
  width: 100%;
  padding: 8px 0 0 15px;
  border-bottom: 0.1px solid #d8d2d2;
}
.auth__logo > img {
  width: 55px;
  object-fit: contain;
}

.auth__details {
  width: 75%;
  margin: 0 auto;
}

.auth__details > h2 {
  color: #121111e8;
  font-size: 1rem;
  font-weight: 500;
}

.auth__details > form {
  margin-top: 50px;
}

.auth__form {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth__form > label {
  font-size: 0.9rem;
  font-weight: bold;
}

.auth__form > input {
  height: 30px;
  width: 60%;
  background: #eff3f6;
  border: 0.1px solid #c0c0c0;
  outline: #c7e5fc;
  padding: 0 10px;
  font-weight: 500;
  font-size: 0.9rem;
  transition: border 300ms;
  border-radius: 6px;
}

.auth__form > input:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.authForm__line {
  margin-top: 35px;
  border: 0.1px solid #ebebeb;
}
.checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.auth__checkbox {
  margin: 20px 0;
}
.auth__checkbox > .checkbox > input {
  width: 25px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.auth__checkbox > .checkbox > label {
  font-size: 1rem;
}

.auth__checkbox > .checkbox > label > span {
  color: #773f78;
  font-weight: 600;
  cursor: pointer;
}
.auth__checkbox > .checkbox > label > span:hover {
  text-decoration: underline;
}

.auth__btn {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.auth__btn > button {
  width: 150px;
  height: 35px;
  background-color: #773f78;
  outline: none;
  border: 0.1px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms;
  justify-items: flex-end;
  margin-bottom: 12px;
}
.auth__btn > button:hover {
  filter: brightness(95%);
  box-shadow: 0 0 15x #000;
}
.auth__alt {
  font-size: 0.8rem;
  text-align: center;
}

.auth__link {
  text-decoration: none;
  color: #702171;
  font-weight: bold;
  cursor: pointer;
  /* text-decoration: underline; */
}

.auth__certification {
  text-align: center;
  font-size: 0.9rem;
}
/* @media (max-width: 800px) {
  .auth__form > input {
    width: 100%;
  }
} */

.auth__info {
  padding-top: 80px;
}

.auth__info > h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
  /* color: red; */
}
.reset__btn {
  margin-top: 20px;
}

.login__reset {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.login__options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login__options > .auth__checkbox > .checkbox {
  width: 100%;
}

@media (max-width: 800px) {
  .auth__details {
    width: 98%;
    margin: 0 auto;
  }
}
