.authLayout {
  width: 100%;
  background-color: #fff;
  /* height: 600px; */
  display: flex;
  /* padding: 10px; */
}
/* @media (max-width: 1120px) {
  .authLayout {
    width: 90%;
  }
} */

.authLayout__left {
  width: 50%;
  background: #f9f9fb;
  height: 100vh;
  /* padding: 30px; */
}
.authLayout__right {
  width: 50%;
  height: 100vh;
  /* background-color: #702171; */
}

@media (max-width: 800px) {
  .authLayout {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .authLayout__left {
    width: 100%;
    height: fit-content;
    padding: 30px;
  }
  .authLayout__right {
    width: 100%;
    height: fit-content;
  }
}
