/* .slide {
  width: 100%;
  color: #fff;
} */

.slide1 {
  background-color: #762577;
  /* height: 100vh; */
}
.slide2 {
  background-color: #7d297e;
  /* height: 100vh; */
}
.slide3 {
  background-color: #7f2b80;
  /* height: 100vh; */
}
.slide {
  width: 50%;
  margin: 100px auto;
  height: 100vh;
}

.slide > img {
  width: 100%;
}
.slide > h3 {
  text-align: center;
  color: #fff;
  margin-top: 40px;
  font-size: 1.7rem;
  font-weight: 500;
}

.slide > p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 1.3;
  font-weight: 500;
}

@media (max-width: 800px) {
  .slide {
    height: fit-content;
  }
}
